---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="tentang saya"
	pubDate={new Date('02-08-2024')}
	heroImage="/blog-placeholder-1.jpg"
>
	<p>
		Halo! Nama saya Liling, dan saya adalah seorang programmer yang bersemangat dalam menciptakan solusi teknologi yang inovatif. Dengan [jumlah] tahun pengalaman dalam industri teknologi, saya telah terlibat dalam berbagai proyek yang meliputi pengembangan perangkat lunak, pengembangan web, dan pengembangan aplikasi mobile.
	</p>

	<p>
		Pendidikan saya dalam bidang Rekayasa Perangkat Lunak, bersama dengan minat saya yang mendalam dalam pemrograman dan teknologi, telah membentuk fondasi yang kokoh untuk eksplorasi dan pertumbuhan dalam dunia pengembangan perangkat lunak.
	</p>

	<p>
		Dalam karier saya, saya telah menekuni berbagai bahasa pemrograman seperti JavaScript, Python, dan Java. Saya juga memiliki keahlian dalam penggunaan kerangka kerja seperti ReactJS dan Node.js untuk pengembangan web, serta pengalaman dalam pembuatan aplikasi mobile menggunakan Flutter.
	</p>

	<p>
		Selain itu, saya percaya bahwa kolaborasi dan pembelajaran terus-menerus sangat penting dalam industri ini. Saya senang bekerja dalam tim yang beragam, berbagi pengetahuan, dan terus belajar dari rekan-rekan saya.
	</p>

	<p>
		Saya sangat tertarik dalam mengembangkan solusi teknologi yang memberikan dampak positif bagi masyarakat. Saya percaya bahwa teknologi memiliki potensi besar untuk meningkatkan kualitas hidup orang-orang di seluruh dunia, dan saya berkomitmen untuk berkontribusi pada visi ini melalui keterampilan dan dedikasi saya sebagai seorang programmer.
	</p>
    
	<p>
		Di luar pekerjaan, saya suka menghabiskan waktu untuk menjelajahi teknologi baru, membaca buku tentang pengembangan perangkat lunak, dan berkontribusi pada komunitas pengembang melalui proyek open source dan forum online.
	</p>

	<p>
		Saya sangat bersemangat untuk terus mengeksplorasi dan mengembangkan diri saya dalam dunia teknologi, dan saya berharap dapat berkontribusi pada proyek-proyek yang menantang dan bermakna di masa depan.
	</p>

	<p>
		Terima kasih telah meluangkan waktu untuk membaca tentang saya. Saya sangat berharap dapat berkesempatan untuk berkolaborasi dan belajar bersama Anda di masa depan!
	</p>
</Layout>
